<!DOCTYPE html>
<html>
  <head>
    <title>EventRegistrationSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="wrapper">
      <%#= render "shared/navbar" %>
        <div id="page-wrapper">
            <div class="container-fluid">

              <ul class="nav navbar-nav">
                <li><%= link_to "Home", home_index_path %></li>
                <li><%= link_to "Events", events_path %></li>
                <% if current_user %>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                <% end %>
              </ul>


              <section class="row">
                <div class="col-lg-12">
                  <% flash.each do |key, value| %>
                    <br />
                    <div class="alert alert-info alert-dismissable"><%= value %></div>
                  <% end %>
                </div>
              </section>

              <section class="row">
                  <div class="col-lg-12" id="main_content">
                      <%= yield %>
                  </div>
              </section><!-- /.row -->

              <div class="row"><br /><br /></div><!-- /.row -->

            </div><!-- /.container-fluid -->
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->

  </body>
</html>
